.box{
    height: 100vh;
    // background-color: #D7DBDD;
    // background-image: url('../assets/fgd.jpg');
    // background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center;
	// background-attachment: fixed;

    .appbarchat{
        height: 125px;
        background-image: url('../assets/fgd.jpg');
        // background-color: #0d1ed1;
    }

    .appbar{
        height: 270px;
        background-image: url('../assets/fgd.jpg');
        // background-color: #0d1ed1;
    }
}
